@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 229, 231, 235; 
  --background-start-rgb: 17, 24, 39; 
  --background-end-rgb: 24, 32, 50; 

  --primary-accent: 255, 215, 0; 
  --secondary-accent: 30, 58, 138; 
  
  --success-accent: 0, 184, 148;
  --muted-text: 160, 174, 192; 
}


body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
